*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

header {
    background-color: #E6A4B4;    
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 10px;
text-align: center;
}

header>ul {
        display: flex;
    gap: 15px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

main {
    background-color: #F5EEE6;
    overflow-y: scroll;
}

.galeria {
    padding: 15px 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.card{
    width: 80%;
    height:100%;   
    background-color: FFF8E3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

button {
    background-color: #FFB38E;
    width: 45px;
    height: 25px;
    border-radius: 7px;
}

.contenedores>img{
    width: 100%;
}

.contenedores {
    width: 80%;
    height: 100%;
}



footer {
    background-color: #F3D7CA;
    text-align: center;
}


header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

body {
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
    grid-template-rows: 70px calc(100vh - 70px - 40px) 40px;
    grid-template-columns: auto;
}